:root.theme-dark {
  --accent-color: #ff0070;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
}

.page.theme_dark {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
