:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --title-decor-background-color: #ff0070;
  --title-decor-color: #000028;
  --subtitle-color: #ff0070;
  --decorated-element-visibility: flex;
  --link-color: #ff0070;
  --font: 'IBM Plex Mono';
  --basic-gap: 10px;
  --basic-font-size: 18px;
  --basic-line-height: 23.4px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
